*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(8, 3, 84);
}

#main-container{
    display: flex;
justify-content: center;
align-items: center;
background-color: rgb(232, 184, 95);
}

.slide-container{
    position: relative;
    width: 50%;
    height: 50%;
}

.slide img{
 width: 100%;
}

.arrow{
    cursor: pointer;
    position: absolute;
    top: 45%;
    color: black;
    background-color: rgb(147, 206, 245);
    padding: 20px 30px;
border-radius: 50%;
font-size: 25px;
font-weight: bold;
}

.next{
    right: 50px;
}
.prev{
    left: 50px;
}


 .caption{
   color: rgb(239, 240, 246);
   font-size: 30px;
   font-weight: bold;
   position: absolute;
   bottom: 0px;
   width: 100%;
   text-align: center;
   background-color: rgba(0, 0, 0, 0.241);
   padding: 15px 0px;
 }

 .slide{
    display: none;
 }

 h1{
    font-size: 80px;
    margin-top: 20px;
    color: white;
    text-align: center;
 }